In [1]:
import pandas as pd

In [12]:
# 做到文件的加载
df = pd.read_csv("../data/demo_data/tips.csv", names=[1,2,3,4,5,6,7,8])
df

              1     2       3       4     5       6     7   8
0    total_bill   tip     sex  smoker   day    time  size NaN
1         16.99  1.01  Female      No   Sun  Dinner     2 NaN
2         10.34  1.66    Male      No   Sun  Dinner     3 NaN
3         21.01   3.5    Male      No   Sun  Dinner     3 NaN
4         23.68  3.31    Male      No   Sun  Dinner     2 NaN
..          ...   ...     ...     ...   ...     ...   ...  ..
240       29.03  5.92    Male      No   Sat  Dinner     3 NaN
241       27.18   2.0  Female     Yes   Sat  Dinner     2 NaN
242       22.67   2.0    Male     Yes   Sat  Dinner     2 NaN
243       17.82  1.75    Male      No   Sat  Dinner     2 NaN
244       18.78   3.0  Female      No  Thur  Dinner     2 NaN

[245 rows x 8 columns]

In [76]:
df = pd.read_csv("../data/demo_data/tips.csv", header = 0)
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df["tip"]

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [17]:
type(df["tip"])

pandas.core.series.Series

In [27]:
df.loc[0]

total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 0, dtype: object

In [39]:
df["tip"].index.tolist()[1:20]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [40]:
df["tip"].max()

10.0

In [41]:
df["tip"].min()

1.0

In [42]:
df["tip"].std()

1.3836381890011822

In [51]:
df["tip"].memory_usage()

2080

In [55]:
# Series[Series>(int)]
df["tip"][(df["tip"]>5) & (df["tip"]<7)]

44     5.60
47     6.00
52     5.20
59     6.73
85     5.17
88     5.85
116    5.07
141    6.70
155    5.14
172    5.15
181    5.65
183    6.50
211    5.16
214    6.50
239    5.92
Name: tip, dtype: float64

In [75]:
for index,value in df["tip"][(df["tip"]>5) & (df["tip"]<7)].items():
    print(index)
    print(value)
    print("\n")

23
6.58


59
5.73


141
5.7


183
5.5


214
5.5

In [57]:
for value in df["tip"][(df["tip"]>5) & (df["tip"]<7)].values:
    print(value)

5.6
6.0
5.2
6.73
5.17
5.85
5.07
6.7
5.14
5.15
5.65
6.5
5.16
6.5
5.92

In [88]:
df["tip"] > 5

0      False
1      False
2      False
3      False
4      False
       ...
239     True
240    False
241    False
242    False
243    False
Name: tip, Length: 244, dtype: bool

In [102]:
df["tip"] > 5

0      False
1      False
2      False
3      False
4      False
       ...
239     True
240    False
241    False
242    False
243    False
Name: tip, Length: 244, dtype: bool

In [101]:
df["tip"]
df.tip

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [89]:
df[df["tip"] > 5]

     total_bill    tip     sex smoker   day    time  size
23        39.42   7.58    Male     No   Sat  Dinner     4
44        30.40   5.60    Male     No   Sun  Dinner     4
47        32.40   6.00    Male     No   Sun  Dinner     4
52        34.81   5.20  Female     No   Sun  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
85        34.83   5.17  Female     No  Thur   Lunch     4
88        24.71   5.85    Male     No  Thur   Lunch     2
116       29.93   5.07    Male     No   Sun  Dinner     4
141       34.30   6.70    Male     No  Thur   Lunch     6
155       29.85   5.14  Female     No   Sun  Dinner     5
170       50.81  10.00    Male    Yes   Sat  Dinner     3
172        7.25   5.15    Male    Yes   Sun  Dinner     2
181       23.33   5.65    Male    Yes   Sun  Dinner     2
183       23.17   6.50    Male    Yes   Sun  Dinner     4
211       25.89   5.16    Male    Yes   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
214       28.17   6.50  Female    Yes   Sat  Dinner     3
239       29.03   5.92    Male     No   Sat  Dinner     3

In [61]:
for column_name in df.columns:
    print(column_name)

total_bill
tip
sex
smoker
day
time
size

In [64]:
df.describe(include="all")

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

In [68]:
df["tip"]

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [71]:
df["tip"].min()
id(df["tip"] - df["tip"].min())

140259141433552

In [72]:
id(df["tip"])

140258892224720

In [73]:
df["tip"] = df["tip"] - df["tip"].min()

In [74]:
df["tip"]

0      0.01
1      0.66
2      2.50
3      2.31
4      2.61
       ...
239    4.92
240    1.00
241    1.00
242    0.75
243    2.00
Name: tip, Length: 244, dtype: float64

In [77]:
id(df)

140258893762384

In [79]:
id(df.copy())

140258893769744

In [82]:
df_temp = df
df_temp_2 = df
id(df_temp)
id(df_temp_2)

140258893762384

In [83]:
series_df = df.copy()

In [84]:
id(series_df)

140258893828304